<% if params[:show_exclude_from_revenue].present? || params[:course_id].present? || params[:hide_excluded].present? %>
  $("#radial_progress_all_region").html("<%= escape_javascript render(:partial => 'radial_progress', :locals => { percent: @total_percent, amount: @total_amount, goals: @total_goal, region: 'all_region' }) %>")
  <%  Event.origin_regions.each do |region, region_number| %>  
    $("#radial_progress_<%= region %>").html("<%= escape_javascript render(:partial => 'radial_progress', :locals => { percent: @region_percents[region_number], amount: @region_amounts[region_number], goals: @region_goals[region_number], region: region }) %>")
  <% end %>
<% end %>

<% @top_five_courses_by_region.each do |region, courses| %>
  $("#top_courses_by_revenue_<%= region.to_s %>").html(
    "<table class='table'>" +
      "<tbody>" +
        <% courses.each do |course| %>
          <% row_class = "row_#{region.to_s} " %>
          
          "<tr class='"+ "<%= row_class %>"+ "'>"+
            "<td>" + 
              "<%= escape_javascript(link_to course.abbreviation, platform_course_path(course.platform, course)) %>" +
            "</td>" +
            "<td>" +
              "<%= escape_javascript(number_to_currency(course.temp_revenue)) %>" +
            "</td>" +
            "<td>" +
              <% if course.exclude_from_revenue %>
                "<input id='checkbox_"+"<%= course.id.to_s %>"+"' class='excluded_checkbox' data-region='"+"<%= region.to_s %>"+"' data-id='"+"<%= course.id.to_s %>"+"' type='checkbox' checked></input>"
              <% else %>
                "<input id='checkbox_"+"<%= course.id.to_s %>"+"' class='excluded_checkbox' data-region='"+"<%= region.to_s %>"+"' data-id='"+"<%= course.id.to_s %>"+"' type='checkbox'></input>"
              <% end %>
              +
            "</td>" +
          "</tr>" +
        <% end %>
      "</tbody>" +
    "</table>" +
    <% if params[:show_exclude_from_revenue].present? %>
      "<span class='btn btn-primary hide_excluded'>Hide Excluded</span>"
    <% else %>
      "<span class='btn btn-primary show_excluded_btn show_with_excluded_"+ "<%= region %>" +"'>Show All</span>"
    <% end %>
    
    
  );
<% end %>

<% @margin_by_region.each do |region, margin| %>
  $("#margin_for_<%= region.to_s %>").html(
    "<h1>" +
      "<%= escape_javascript(number_to_percentage(margin, precision: 2)) %>" +
    "</h1>"
  );
<% end %>

<% @top_five_courses_by_region.each do |region, courses| %>
  $(".show_with_excluded_"+"<%= region  %>").on('click', function(){
    $(".reload_on_async").html("<div style='text-align: center; margin-top: 100px;'><i class='i fa fa-cog fa-spin fa-3x fa-fw'></i></div>");
    $.get("<%= admin_sales_top_five_courses_path + '?yearly=' + params[:yearly] + '&date=' + params[:date] %>"+"&show_exclude_from_revenue=true");  
  })
<% end %>

$(".hide_excluded").on('click', function(){
  $(".reload_on_async").html("<div style='text-align: center; margin-top: 100px;'><i class='i fa fa-cog fa-spin fa-3x fa-fw'></i></div>");
    $.get("<%= admin_sales_top_five_courses_path + '?yearly=' + params[:yearly] + '&date=' + params[:date] %>+&hide_excluded=true");  
})

$(".excluded_checkbox").on('click', function(){
  $(".reload_on_async").html("<div style='text-align: center; margin-top: 100px;'><i class='i fa fa-cog fa-spin fa-3x fa-fw'></i></div>");

  $.get("<%= admin_sales_top_five_courses_path + '?yearly=' + params[:yearly] + '&date=' + params[:date] %>"+"&course_id="+$(this).data("id"));
})
