<% @top_five_courses_by_region.each do |region, courses| %>
  $("#top_courses_by_revenue_<%= region.to_s %>").html(
    "<table class='table'>" +
      "<tbody>" +
        <% courses.each do |course| %>
          "<tr>" +
            "<td>" +
              "<%= escape_javascript(link_to course.abbreviation, platform_course_path(course.platform, course)) %>" +
            "</td>" +
            "<td>" +
              "<%= escape_javascript(number_to_currency(course.temp_revenue)) %>" +
            "</td>" +
          "</tr>" +
        <% end %>
      "</tbody>" +
    "</table>"
  );
<% end %>

<% @margin_by_region.each do |region, margin| %>
  $("#margin_for_<%= region.to_s %>").html(
    "<h1>" +
      "<%= escape_javascript(number_to_percentage(margin, precision: 2)) %>" +
    "</h1>"
  );
<% end %>
