<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>

<!-- <h3><%= t("forem.post.edit", :post => @post) %></h3> -->

<%= simple_form_for [forem, @topic.forum, @topic, @post] do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <div class="form-buttons">
    <%= f.submit t("forem.post.buttons.edit"), :class => "btn btn-success" %>
    <button id="forum-back" class="btn btn-primary" type="button" name="button"><%= t('generic.button.cancel') %></button>
  </div>
<% end %>

<script>
  $('.forums-tab').addClass('active');

  $('#forum-back').on('click', function() {
    location.replace(document.referrer);
  });
</script>
