<%- content_for :breadcrumbs do %>
  <a href="<%= main_app.root_path %>">
    <span class="fa fa-home"></span>
    <%= t('admins.partial_breadcrumbs.home') %>
  </a>
  <span class="seperator">/</span>
  <span class="text-muted">Forums</span>
<% end %>

<h1><%= t('forem.admin.base.index.area') %></h1>

<p>
  <%= t('forem.admin.base.index.welcome') %>
</p>

<ul>
  <li><%= link_to t('forem.admin.base.index.forums'), forem.admin_forums_path %> </li>
  <li><%= link_to t('forem.admin.base.index.categories'), forem.admin_categories_path %></li>
  <li><%= link_to t('forem.admin.base.index.groups'), forem.admin_groups_path %></li>
</ul>

<br>
<footer id='admin_link'>
  <%= link_to t(:back_to_forums, :scope => 'forem.admin'), forem.root_path %>
</footer>
