"<% if @video.next_video %>"
  $('.modal-body').html("<form name=\"end-quiz\" action=\"<%= escape_javascript(exit_quiz_platform_video_on_demands_path(@video_on_demand, @video, @quiz)) %>\" accept-charset=\"UTF-8\" method=\"POST\" data-remote=\"true\"><input type=\"hidden\" name=\"lms_exam_attempt\" value=\"<%= @lms_exam_attempt.id %>\"><input type='hidden' name='next_video_id' value='<%= @video.next_video.id %>'><p id='display-score'></p></form>");
  $('form[name=end-quiz]').append("<button>Next Video</button>");
"<% else %>"
  $('.modal-body').html("<form name=\"end-quiz\" action=\"<%= escape_javascript(exit_quiz_platform_video_on_demands_path(@video_on_demand, @video, @quiz)) %>\" accept-charset=\"UTF-8\" method=\"POST\"><input type=\"hidden\" name=\"lms_exam_attempt\" value=\"<%= @lms_exam_attempt.id %>\"><p id='display-score'></p></form>");
  $('form[name=end-quiz]').append("<button>Exit Quiz</button>");
"<% end %>"

var num_questions = <%= @lms_exam_attempt.lms_exam_attempt_answers.count %>;
var num_correct_answers = <%= @lms_exam_attempt.number_correct %>;

$("#display-score").text("You scored " + Math.floor((num_correct_answers/num_questions)*100) + "%, with " + num_correct_answers + "/" + num_questions + " correct.");

