$('.modal-title').html("<%= escape_javascript(@quiz.title) %>");

$('.modal-body').empty();

"<% @lms_exam_attempts.each do |lms_exam_attempt| %>"

	$('.modal-body').append("<table><thead><tr><h2>Exam Attempt #<%= @lms_exam_attempts.find_index(lms_exam_attempt) + 1 %></h2><hr></tr><tr><th>Exam Question</th><th>Your Answer</th><th>Correct?</th></tr></thead><tbody id=\"lms-exam-attempt-<%= @lms_exam_attempts.find_index(lms_exam_attempt) + 1 %>\"></tbody></table>");

	"<% lms_exam_attempt.lms_exam_attempt_answers.each do |lms_exam_attempt_answer| %>"

		$("#lms-exam-attempt-<%= @lms_exam_attempts.find_index(lms_exam_attempt) + 1 %>").append("<tr><td><%= lms_exam_attempt_answer.lms_exam_question.question_text %></td><td><%= lms_exam_attempt_answer.lms_exam_answer.answer_text %></td><td id=\"attempted-answer-<%= lms_exam_attempt_answer.id %>-status\"></td></tr>");

		"<% if lms_exam_attempt_answer.lms_exam_answer.correct %>"
			$("#attempted-answer-<%= lms_exam_attempt_answer.id %>-status").html("<span class=\"fa fa-check text-success\"></span>");
		"<% else %>"
			$("#attempted-answer-<%= lms_exam_attempt_answer.id %>-status").html("<span class=\"fa fa-times text-danger\"></span>");
		"<% end %>"

	"<% end %>"

"<% end %>"

$('#myModal').modal('show');
