$('.modal-title').html("<%= escape_javascript(@quiz.title) %>");

$('.modal-body').empty();

"<% @lms_exam_attempts.each do |lms_exam_attempt| %>"

  $('.modal-body').append("<div id=\"lms-exam-attempt-<%= @lms_exam_attempts.find_index(lms_exam_attempt) + 1 %>\"><h2>Exam Attempt #<%= @lms_exam_attempts.find_index(lms_exam_attempt) + 1 %></h2></div>");
  
  $("#lms-exam-attempt-<%= @lms_exam_attempts.find_index(lms_exam_attempt) + 1 %>").append("<p id=\"lms-exam-attempt-<%= @lms_exam_attempts.find_index(lms_exam_attempt) + 1 %>-score\"></p>");

  "<% lms_exam_attempt.lms_exam_attempt_answers.each do |lms_exam_attempt_answer| %>"

    "<% if lms_exam_attempt_answer.lms_exam_answer.correct %>"
      $("#lms-exam-attempt-<%= @lms_exam_attempts.find_index(lms_exam_attempt) + 1 %>").append("<p><span class=\"fa fa-check text-success\"></span> <%= lms_exam_attempt_answer.lms_exam_question.question_text %></p>");
    "<% else %>"
      $("#lms-exam-attempt-<%= @lms_exam_attempts.find_index(lms_exam_attempt) + 1 %>").append("<p><span class=\"fa fa-times text-danger\"></span> <%= lms_exam_attempt_answer.lms_exam_question.question_text %></p>");
    "<% end %>"

    "<% lms_exam_attempt_answer.lms_exam_question.lms_exam_answers.each do |lms_exam_answer| %>"
      "<% if lms_exam_answer.correct %>"
        $("#lms-exam-attempt-<%= @lms_exam_attempts.find_index(lms_exam_attempt) + 1 %>").append("<div class='radio'><label><input type='radio' <% if lms_exam_answer.id == lms_exam_attempt_answer.lms_exam_answer.id %>checked<% end %>><span class='bg-success'><%= lms_exam_answer.answer_text %></span></label></div>");
      "<% else %>"
        $("#lms-exam-attempt-<%= @lms_exam_attempts.find_index(lms_exam_attempt) + 1 %>").append("<div class='radio'><label><input type='radio' <% if lms_exam_answer.id == lms_exam_attempt_answer.lms_exam_answer.id %>checked<% end %>><%= lms_exam_answer.answer_text %></label></div>");
      "<% end %>"

    "<% end %>"

  "<% end %>"

  var num_questions = <%= lms_exam_attempt.lms_exam_attempt_answers.count %>;
  var num_correct_answers = <%= lms_exam_attempt.number_correct %>;
  $("#lms-exam-attempt-<%= @lms_exam_attempts.find_index(lms_exam_attempt) + 1 %>-score").text("You scored " + Math.floor((num_correct_answers/num_questions)*100) + "%, with " + num_correct_answers + "/" + num_questions + " correct.");

"<% end %>"

$('#myModal').modal('show');
