<%- content_for :breadcrumbs do %>
  <a href="<%= main_app.root_path %>">
    <span class="fa fa-home"></span>
    <%= t('breadcrumbs.home') %>
  </a>
  <span class="seperator">/</span>
  <%= link_to t('forem.forum.forums'), forem.root_path %>
  <span class="seperator">/</span>
  <%= link_to forem_emojify(topic.forum.category), [forem, topic.forum.category] %>
  <span class="seperator">/</span>
  <%= link_to forem_emojify(topic.forum.title), [forem, topic.forum] %>
  <span class="seperator">/</span>
  <span class="text-muted"><%= forem_emojify(topic.subject) %></span>
<% end %>

<!-- <h2><%= link_to t('forem.forum.forums'), forem.forums_path %> &raquo; <%= link_to forem_emojify(topic.forum.title), [forem, topic.forum] %> &raquo; <%= forem_emojify(topic.subject) %></h2> -->
