<p><%= t('devise.mailer.reset_password_instructions.greeting') %> <%= @resource.first_name %>,</p>

<p><%= t('devise.mailer.reset_password_instructions.copy1') %><a href="www.nterone.com"><%= t('devise.mailer.reset_password_instructions.copy2') %></a><%= t('devise.mailer.reset_password_instructions.copy3') %><a href='<%= "mailto:helpdesk#{t('default.contact.email')}" %>'>helpdesk<%= "#{t('default.contact.email')}" %></a>.</p>

<p><%= link_to 'Change your password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.reset_password_instructions.salutation') %></p>
<p><a href="www.nterone.com"><%= t('devise.mailer.reset_password_instructions.sender') %></a> HelpDesk</p>
