<p><%= t('devise.mailer.unlock_instructions.greeting') %> <%= @resource.email %>!</p>

<p><%= t('devise.mailer.unlock_instructions.copy1') %></p>

<p><%= t('devise.mailer.unlock_instructions.copy2') %></p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
